

body {
  position: relative;
}


.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  top: unset;
  z-index: 100;
  background: url('./images/preview.png') no-repeat center center;
  background-size: cover;

}
