.welcome {
  &__loading {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 0 30px;
    width: 100%;
    z-index: 101;
  }
}
